.logo {
    height: 10vh;
    background: #002140;
    color: #B0C4DE;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nz-breadcrumb-item:first-child:last-child .ant-breadcrumb-separator {
    display: none;
  }

  nz-header {
    background: #f0f2f5;
    padding: 0;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    align-items: center;
  }

  nz-breadcrumb {
    margin-left: 10px;
  }

  nz-content {
    padding: 24px;
    background: #fff;
    height: 90vh;
  }

  .sider {
    height: 100vh;
  }
