<nz-layout>
  <nz-sider nzCollapsible nzWidth="200px" class="sider">
    <div class="logo">Drunk Mart</div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item (click)="navigateToComponent('Dashboard')" [ngClass]="{ 'active': selectedMenu === 'Dashboard' }">
        <span nz-icon nzType="dashboard" nzTheme="outline"></span>
        <span>Dashboard</span>
      </li>
      <li nz-menu-item (click)="navigateToComponent('Users')" [ngClass]="{ 'active': selectedMenu === 'Users' }">
        <span nz-icon nzType="team" nzTheme="outline"></span>
        <span>Users</span>
      </li>
      <li nz-menu-item (click)="navigateToComponent('Categories')" [ngClass]="{ 'active': selectedMenu === 'Categories' }">
        <span nz-icon nzType="appstore" nzTheme="outline"></span>
        <span>Categories</span>
      </li>
      <li nz-menu-item (click)="navigateToComponent('Products')" [ngClass]="{ 'active': selectedMenu === 'Products' }">
        <span nz-icon nzType="shopping-cart" nzTheme="outline"></span>
        <span>Products</span>
      </li>
    </ul> 
  </nz-sider>
  <nz-layout>
    <nz-header>
      <nz-breadcrumb>
        <nz-breadcrumb-item *ngIf="breadcrumb">
          <a>{{breadcrumb}}</a>
        </nz-breadcrumb-item>
      </nz-breadcrumb>
      <nz-avatar
        nz-button
        nz-dropdown
        [nzDropdownMenu]="avatarMenu"
        [nzPlacement]="position"
        [ngStyle]="{ 'background-color': 'orange' }"
        nzText="A"
        nzSize="large"
        style="vertical-align: middle; cursor: pointer;"
      ></nz-avatar>
      <nz-dropdown-menu #avatarMenu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item (click)="navigateToComponent('Profile')"><span nz-icon nzType="user" nzTheme="outline"></span> Profile</li>
          <li nz-menu-item (click)="navigateToComponent('Sign Out')"><span nz-icon nzType="logout" style="color:red;"></span> Sign Out</li>
        </ul>
      </nz-dropdown-menu>
    </nz-header>
    <nz-content style="border-top: 4px solid #e0e0e0;">
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
  