<div class="add-button">
  <button nz-button nzType="primary" (click)="openPopup('create')">Add User</button>
</div>

<nz-table [nzScroll]="{ x: '1000px', y: '400px' }" ngSkipHydration>
  <thead>
    <tr>
      <th nzWidth="15%">User Name</th>
      <th nzWidth="15%">Full Name</th>
      <th nzWidth="15%">Email</th>
      <th nzWidth="15%">Role</th>
      <th nzWidth="15%">Mobile No</th>
      <th nzWidth="15%">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.username }}</td>
      <td>{{ user.fullName }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.role }}</td>
      <td>{{ user.mobileNo }}</td>
      <td>
        <button nz-button nzType="link" (click)="openPopup('update', user)">
          <span nz-icon nzType="edit" nzTheme="fill"></span>
        </button>
        <button nz-button nzType="link" (click)="deleteUser(user.id)">
          <span style="color: red;" nz-icon nzType="delete" nzTheme="fill"></span>
        </button>
      </td>
    </tr>
  </tbody>
</nz-table>

<nz-modal
  [(nzVisible)]="isPopupVisible"
  [nzTitle]="popupMode === 'create' ? 'Add User' : 'Update User'"
  (nzOnCancel)="closePopup()"
>
  <ng-container *nzModalContent>
    <form
      nz-form
      [formGroup]="popupMode === 'create' ? createUserForm : updateUserForm"
      (ngSubmit)="popupMode === 'create' ? createUser() : updateUser()"
      class="form"
    >
      <nz-form-item class="nz-form-item" *ngFor="let field of ['username', 'fullName', 'gender', 'role', 'mobileNo', 'email']">
        <label>{{ field | titlecase }}</label>
        <nz-form-control [nzErrorTip]="'Please input your ' + field + '!'">
          <ng-container [ngSwitch]="field">
            <nz-input-group *ngSwitchCase="'username'" nzPrefixIcon="user">
              <input type="text" formControlName="username" nz-input placeholder="Username" required />
            </nz-input-group>
            <nz-input-group *ngSwitchCase="'fullName'" nzPrefixIcon="idcard">
              <input type="text" formControlName="fullName" nz-input placeholder="Full Name" required />
            </nz-input-group>
            <nz-radio-group *ngSwitchCase="'gender'" formControlName="gender">
              <label nz-radio nzValue="Male">Male</label>
              <label nz-radio nzValue="Female">Female</label>
              <label nz-radio nzValue="Other">Other</label>
            </nz-radio-group>
            <nz-select *ngSwitchCase="'role'" formControlName="role" nzPlaceHolder="Select a role">
              <nz-option nzValue="Admin" nzLabel="Admin"></nz-option>
              <nz-option nzValue="Supplier" nzLabel="Supplier"></nz-option>
              <nz-option nzValue="Consumer" nzLabel="Consumer"></nz-option>
            </nz-select>
            <nz-input-group *ngSwitchCase="'mobileNo'" nzPrefixIcon="mobile">
              <input
                type="text"
                formControlName="mobileNo"
                nz-input
                placeholder="Mobile Number"
                required
              />
            </nz-input-group>
            <nz-input-group *ngSwitchCase="'email'" nzPrefixIcon="mail">
              <input type="email" formControlName="email" nz-input placeholder="Email" />
            </nz-input-group>
          </ng-container>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="closePopup()">Cancel</button>
    <button
      nz-button
      nzType="primary"
      (click)="popupMode === 'create' ? createUser() : updateUser()"
      [nzLoading]="isConfirmLoading"
    >
      {{ popupMode === 'create' ? 'Add User' : 'Modify User' }}
    </button>
  </div>
</nz-modal>
