<nz-table [nzScroll]="{ x: '1000px', y: '400px' }" ngSkipHydration>
    <thead>
      <tr>
        <th nzWidth="20%">User Name</th>
        <th nzWidth="20%">Role Name</th>
        <th nzWidth="20%">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.name }}</td>
        <td>{{ user.roleName }}</td>
        <td>
          <button nz-button nzType="link" (click)="onEditUser(user)">
            <span nz-icon nzType="edit" nzTheme="fill"></span>
          </button>
          <button nz-button nzType="link" (click)="onDeleteUser(user)">
            <span style="color: red;" nz-icon nzType="delete" nzTheme="fill"></span>          </button>
        </td>
      </tr>
    </tbody>
  </nz-table>
  