.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../../assets/images/clothes-1839935_1280.jpg');
    background-size: cover;
    background-position: center;
  }
  
  .login-box {
    margin-left:800px;
    width: 400px;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .nz-form-item {
    display: flex;
    flex-direction: column;
    position: relative; /* Ensures correct positioning of the error message */
  }
  
  .nz-form-control {
    display: flex;
    flex-direction: column;
  }
  
  .ant-form-item-explain {
    margin-top: 4px;
    color: red; 
    font-size: 12px; 
  }
  
  .ant-input {
    margin-bottom: 0;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  