<div class="add-button">
  <button nz-button nzType="primary">Add Product</button>
</div>
<nz-table [nzScroll]="{ x: '1000px', y: '400px' }" ngSkipHydration>
  <thead>
    <tr>
      <th nzWidth="20%">Product Name</th>
      <th nzWidth="20%">Price</th>
      <th nzWidth="20%">Category</th>
      <th nzWidth="20%">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.name }}</td>
      <td>{{ product.price }}</td>
      <td>{{ product.category }}</td>
      <td>
        <button nz-button nzType="link" (click)="onEditProduct(product)">
          <span nz-icon nzType="edit" nzTheme="fill"></span>
        </button>
        <button nz-button nzType="link" (click)="onDeleteProduct(product)">
          <span style="color: red;" nz-icon nzType="delete" nzTheme="fill"></span>          
        </button>
      </td>
    </tr>
  </tbody>
</nz-table>
